server:
  port: 9004
  forward-headers-strategy: framework
spring:
  application:
    name: payment-service
  datasource:
    url: jdbc:mysql://localhost:3306/campus_payment?useSSL=false&serverTimezone=Asia/Singapore&allowPublicKeyRetrieval=true
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui


mybatis:
  mapper-locations: classpath*:mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    org.mybatis: debug
