# Core
SPRING_PROFILES_ACTIVE=prod
CONFIG_SERVER_URL=http://<your-config-server-host>:8888
EUREKA_SERVER_URL=http://<your-eureka-host>:8761/eureka/

# Database
DB_HOST=<your-mysql-host>
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=Cg0Db_2026!R9vT4m_CampusGo
DB_USE_SSL=false
MYSQL_ROOT_PASSWORD=Cg0Db_2026!R9vT4m_CampusGo

# Redis / Kafka
REDIS_HOST=<your-redis-host>
REDIS_PORT=6379
REDIS_PASSWORD=
KAFKA_BOOTSTRAP_SERVERS=<your-kafka-host>:9092
KAFKA_ADVERTISED_HOST=<your-kafka-public-host-or-ip>

# Security / CORS
AUTH_JWT_SECRET=<base64-or-strong-random-secret>
CORS_ALLOWED_ORIGIN_PATTERNS=https://<your-frontend-domain>

