server:
  port: 9003
  forward-headers-strategy: framework

spring:
  application:
    name: auth-service
  data:
    redis:
      host: localhost
      port: 6379
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1

management:
  endpoints:
    web.exposure.include: health,info

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui


auth:
  jwt:
    issuer: campusgo-auth
    # Base-64
    secret: "campusgo_dev_super_secret_key_change_me_32bytes_min"
    expiresMinutes: 60