server:
  port: 9001
  forward-headers-strategy: framework

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://localhost:3306/campus_user?useSSL=false&serverTimezone=Asia/Singapore&allowPublicKeyRetrieval=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui


mybatis:
  mapper-locations: classpath*:mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1

logging:
  level:
    org.mybatis: debug

